/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/**
 * Styles
 */

body {
	background: #000 url('./f/back.gif') repeat-x;
	font-family:Helvetica, Arial, sans-serif;
	font-size:16px;
}

h1, h2, h3, h4, h5 {
	color:#000;
	font-family:Utopia,Georgia,serif;
	font-weight:bold;
	letter-spacing:-0.018em;
	font-size:1.4em;	
}

h1, h2, h3, h4, h5, p, li {
	margin:0.5em 0;
	line-height:1.2em;
}

h1 {
	top:-10px;
	left:1%;
	position:absolute;
	font-size:1em;
	line-height:30px;
	height:30px;
	padding:2px 0;
	z-index:10;
}

#seismometer h1 {
	position:static;
	text-align:center;
	font-size:1.5em;
	padding:0;
	height:auto;
	line-height:auto;
}

h2 {
	color:#444;
	margin:0.5em 0;
}

h3 {
	color:#444;
	font-family:Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
	font-size:0.8em;
	margin:1em 0;
}

ol {
	list-style:decimal;
	list-style-position:inside;;
}

#content p, #content li {
	font-size:0.8em;
}

a {
	text-decoration:underline;
	color:#1E18C3;
}

a:hover {
	text-decoration:underline;
	background:#FDEDAE;
}

pre {
	color:#444;
	font-family:Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
	font-size:0.8em;
	padding:10px 0;
	border:1px solid #ccc;
	margin:0.5em 20px;	
}

li pre {
	font-size:1em;
}

#content {
	width:700px;
	padding:10px;
	background:#fff;
	margin:50px auto;
}

#forkme {
	width:149px;
	height:149px;
	background:url('./f/forkme_right_red.png') no-repeat;
	top:20px;
	right:0;
	position:absolute;
	padding:0;
}
#forkme a,
#forkme a:hover {
	display:block;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	background:transparent;
}
#forkme span {
	position:absolute;
	top:-1000px;
}

#links {
	width:98%;
	height:30px;
	text-align:right;
	padding:0 1%;
	position:absolute;
	top:0px;
	background:#fff;
	font-size:0.8em;
}

#links li {
	list-style:none;
	display:inline;
	line-height:30px;
}

#links li:after {
	content:" |";
}

#links li:last-child:after {
	content:"";
}

.sosumi {
	color:#76797C;
	font-size:10px !important;
	font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
}