body {
	margin:0;
	padding:0;
	font-family:Helvetica;
	font-size:10px;
	color:#fff;
}

#canvas {
	position:absolute;
	left:26px;
	top:35px;
	width:222px;
	height:123px;
	padding:0;
}

#error {
	color:#ddd;
	position:absolute;
	left:32px;
	top:40px;
	width:185px;
	height:123px;
	display:none;
}

#error h1 {
	font-size:10px;
}

/* Apple Stuff*/
#infoButton {
	position:absolute;
	top:155px;
	left:225px;
}

#front {
	width:248px;
	height:180px;
	background:url('../Default.png') no-repeat;	
	display:block;
}

#back {
	width:248px;
	height:180px;
	background:url('../images/back.png') no-repeat;	
	display:none;
}

#back form {
	position:absolute;
	top:45px;
	left:10px;	
}

#info {
	position:absolute;
	top:88px;	
	left:13px;
	font-size:10px;
}

a {
	color:#5B58BA;
	font-weight:bold;
	text-decoration:none;
}

a:hover {
	color:#fff;
}

label {
	padding-left:3px;
}

select {
	display:block;
	margin-top:5px;
}
 
#doneButton {
	position:absolute;
	top:140px;
	left:185px;
}	
