<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Seismometer</string>
	<key>CFBundleIdentifier</key>
	<string>net.matthaynes.dasboard.seismometer</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CloseBoxInsetX</key>
	<integer>0</integer>
	<key>CloseBoxInsetY</key>
	<integer>0</integer>
	<key>Width</key>
	<integer>248</integer>	
	<key>Height</key>
	<integer>180</integer>	
	<key>MainHTML</key>
	<string>index.html</string>
	<key>Plugin</key>
    <string>UnimotionPlugin.bundle</string>	
</dict>
</plist>
